h1 {
    text-align: center;
    color: #bf934c;
}
body {
    background-color: #666c62;
    color: #d9ded8;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h2 {
    text-decoration: underline;
}

.img-places {
    float: center;
    width:  300px;
    height: 300px;
    object-fit: cover;
}

a {
    color: #d9ded8;
}
a:hover {
    text-decoration: none;
    background-color: #d9ded8;
    color: #bf934c;
}
.btn-primary:hover {
    color:#d9ded8;
    background-color: #bf934c;
    border-radius: 25%;
}



.btn-primary {
color:#bf934c;
background-color: #d9ded8;
border-radius: 25%;
}

footer {
    height: 60px;
    text-align: center;
    justify-content: baseline;
}

#footer {
    animation: color-change 1s infinite;
}
@keyframes color-change {
     0% { color: #666c62; }
    50% { color: #d9ded8; }
    100% { color: #bf934c; }
}

