/* Dark mode */
:root {
    color-scheme: dark;
  }


/* Body */
body {
    background-color: #666c62;
    color: #d9ded8;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100VH;

}
main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: #666c62;
    width: auto;
    height: auto; 
}

h2 {
    text-decoration: underline;
}


/* Nav */
nav {
    background-color: #495057;
    padding: 100px; 
}



/* img ID in index.jsx */
.img-places {
    float: center;
    width:  300px;
    height: 300px;
    object-fit: cover;
}

/* Buttons */
.btn-primary:hover {
    color:#495057;
    background-color: #ffc107;
    border-radius: 10%;
}

.btn-primary {
color:#ffc107;
background-color: #495057;
border-radius: 10%;
border:1px solid #ffc107;
}
.btn-danger {
    color:#dc3545;
    background-color: #495057;
    border-radius: 10%;
    border:1px solid #dc3545;
    }

/* SHOW.JSX */
.content {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sections {
    justify-content:space-between;
    padding: 20px;

}

.comments{
    border: 1px dashed #ffc107;
    padding: 50px;
}

.edit-delete {
    justify-content: center;
    padding: 10px;
    display: flex;
}
.edit-delete div:nth-child{
    padding: 5px;
    margin: 10px;
}

/* FOOTER */
footer {
    background-color: #495057;

    padding: 10px;
    display: flex;
    width: 100%;
    text-align: center;
}
footer div:first-child {
    display: flex;
    justify-content: left;
    flex-grow: 1;
}
footer div:nth-child(2) {
    display: flex;
    justify-content: center;
    flex-grow: 3;
}
footer div:last-child {
    display: flex;
    justify-content: right;
    flex-grow: 1;
    
}
/* To animate  */
#footer {
    animation: color-change 1s infinite;
}
@keyframes color-change {
     0% { color: #666c62; }
    50% { color: #d9ded8; }
    100% { color: #ffc107; }
}

