/* Dark mode */
:root {
    color-scheme: dark;
  }


/* Body */
body {
    background-color: #666c62;
    color: #d9ded8;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 400VH;
    

}
main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: #666c62;
    width: auto;
    height: auto; 
}

h2{
    text-decoration: underline;
    color:#ffc107;
}
h3{
    text-decoration: none;
    color:#ffc107;
}
.location {
    text-align:end;
}
.forms-name {
    text-align: left;
}


/* Nav */
nav {
    background-color: #495057;
    padding: 100px;
    
}

/* Validation Alert */
.alert {
    border: 2px dashed #dc3545;
    background-image: linear-gradient(to bottom right, #ffc107, #495057, #ffc107);
    color: #dc3545;
}


/* img ID in INDEX.JSX */
.img-places {
    float: center;
    width:  300px;
    height: 300px;
    object-fit: cover;
}

/* Buttons */
.btn-primary:hover {
    color:#495057;
    background-color: #ffc107;
    border-radius: 10%;
}

.btn-primary {
color:#ffc107;
background-color: #495057;
border-radius: 10%;
border:1px solid #ffc107;
}
.btn-danger {
    color:#dc3545;
    background-color: #495057;
    border-radius: 10%;
    border:1px solid #dc3545;
    }

/* SHOW.JSX */
.sections {
    justify-content:space-between;
    padding: 20px;

}

.comments{
    border: 1px dashed #ffc107;
    padding: 50px;
}

  /* Comment area */
  .comment-section{
    max-height: 200px;
    max-width: 100%;
    justify-content: center;
    overflow-y: scroll;
    display:flex;
}
.comment2{
    height: 10%;
    padding: 2%;
    border: 1px solid #ffc107;
    border-radius: 20px;
    background-color: #495057;
    color: #d9ded8;;
    flex-grow: 1;
}


.edit-delete {
    justify-content: center;
    padding: 10px;
    display: flex;
}
.edit-delete div:nth-child{
    padding: 5px;
    margin: 10px;
}

/* FOOTER */
footer {
    background-color: #495057;
    display: flex;
    width: 100%;
    height: 50px;
    text-align: center;
}
footer div:first-child {
    display: flex;
    justify-content: left;
    flex-grow: 1;
}
footer div:nth-child(2) {
    display: flex;
    justify-content: center;
    flex-grow: 3;
}
footer div:last-child {
    display: flex;
    justify-content: right;
    flex-grow: 1;
    
}
/* To animate  */
.footer-display {
    animation: color-change 1s infinite;
}
@keyframes color-change {
     0% { color: #666c62; }
    50% { color: #d9ded8; }
    100% { color: #ffc107; }
}

/* SLIDER */

.slider {
    -webkit-appearance: none;
    
    width: 100%;
    height: 10px;
    border-radius: 5px;
    justify-content: center; 
    background: #495057;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
 .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5pc;
    width: 23px;
    height: 24px;
    border: 0;
    background: #ffc107;
    cursor: pointer;
  }
